main{
    background-color: lightslategray;
    text-align: center;
    border-radius: 10px;
    padding: 13px;

}
article{
    background-color: lightyellow;
    padding: 134px;
    height: 100%;
    margin: 12px;
    font-style: italic;
}
footer{
    background-color: lightsalmon;
    padding: 55px;
    text-align: center;
    font-size: 43px;
    font-family: fantasy;
}
